Django==6.0.1
gunicorn==24.1.1
whitenoise==6.12.0

cloudinary==1.44.1
django-cloudinary-storage==0.3.0
pandas
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
django-allauth==65.15.0
openpyxl
requests==2.32.5
Pillow==11.1.0
